/* -----------STYLES FOR NAVIGATION VIEW----------- */
.side-nav
{
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    background-color: #EEEEEE;
    overflow-y: auto;
} 
 
.side-nav .side-nav-title,

.workarea .welcome-banner {
    height: 42px;
}

.customized-date-picker,
.customized-combo-box
{
    height: 32px;
    min-width: 150px;
    width: 100%;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
} 

.breadcrumb-arrow
{
    font-size: 12px;
}

.snackbar {
    height: 40px;
    z-index: 100;
}

.snackbar-success {
    background-color: #20B22D;
    color: white;
}