:root
{
    --main-font: "Figtree";
    --accent-font: "Montserrat";
    --tertiary-font: "Scada";

    --base-color: #192456;
    --accent-color: #F48225;
    --hilight-color: #453190;

    --control-border: #ADADAD;
    --control-background: #E1E1E1;
    --document-background: #F0F0F0;

    --bluegray-900: #263238;
    --red-500: #f44336;
    --teal-500: #009688;
    --amber-400: #ffca28;
    --amber-300: #ffd54f; 
    --green-500: #4CAF50;
}

@font-face {
    font-family: "Figtree";
    src: url('Figtree.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('Montserrat.ttf');
}

@font-face {
    font-family: "Scada";
    src: url('Scada.ttf');
}

* {
    box-sizing: border-box !important;
}

html, body
{
    font-family: var(--main-font) !important; 
    background-color: var(--document-background);
    color: var(--bluegray-900);
    height: 100%;
    min-width: 330px;
}  

.bg-base {
    background-color: var(--base-color) !important;
}

.bg-accent {
    background-color: var(--accent-color) !important;
}

.bg-document {
    background-color: var(--document-background) !important;
}

.bg-control {
    background-color: var(--control-background) !important;
}

.bg-amber {
    background-color: var(--amber-400) !important;
}
  
.bg-teal {
    background-color: var(--teal-500) !important;
}

.bg-red {
    background-color: var(--red-500) !important;
}

.bg-green {
    background-color: var(--green-500) !important;
}

.font-document-background {
    color: var(--document-background) !important;
}

.font-bright-blue {
    color: #35CFF2 !important;
}

.font-red {
    color: var(--red-500) !important;
}

.font-teal {
    color: var(--teal-500) !important;
}

.font-accent {
    color: var(--accent-color) !important;
}

.font-amber {
    color: var(--amber-300) !important;
}

.font-hilight {
    color: var(--hilight-color) !important;
}

.font-base {
    color: var(--base-color) !important;
} 

.border-control-2
{
    border: 2px solid var(--control-border) !important;
}

.mdb-border-1
{
    border: 1px solid #bdbdbd !important;
    border-radius: 3px;
}

div.ui-selectmenu-open 
{
    position: absolute;
    z-index: 65535;
}

.ui-selectmenu-menu .ui-menu {max-height: 200px;}

.z-10 { z-index: 10; } 
.z-100 { z-index: 100; } 

.fsz-10 { font-size: 10px; }
.fsz-12 { font-size: 12px; }
.fsz-14 { font-size: 14px; }

.fon-fam-tertiary {
    font-family: var(--tertiary-font) !important;
}